@import "./variables.css";

#footer {
  grid-area: footer;
  height: var(--height-footer);
  background-color: var(--color-purple-blue);
  height: var(--height-footer);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer a {
  text-decoration: none;
  color: var(--color-white);
  letter-spacing: 0.1rem;
}